@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
	font-family: 'SegoeUI';
	src: local('SegoeUI'), url(../assets/fonts/segoe-ui.otf) format('otf');
}
@font-face {
	font-family: 'Helvetica';
	src: local('Helvetica'), url(../assets/fonts/helvetica.ttf) format('ttf');
}

body {
	width: 100% !important;
	max-width: 100% !important;
	overflow-x: hidden !important;
}
*{
	overflow-x: hidden !important;
}
h4 {
	font-family: 'SegoeUI' !important;
	color: #FFF !important ;
	font-weight: 700 !important;
	font-size: 0.9rem !important
}

.contato-descricao span {
	color: #fff !important;
	font-weight: normal;
	font-family: 'SegoeUI' !important;
	font-size: 0.8rem !important

}

/* MENU */
.rs-nav-horizontal {
	display: flex !important;
	justify-content: center !important;
	height: 40px !important;
}

.rs-nav-horizontal ul {
	width: 80% !important;
    display: flex !important;
	justify-content: space-between !important;
	align-items: flex-end !important;
}

.rs-nav-horizontal ul li a::before{
	background-color: #00419F !important;
}
.rs-nav-horizontal ul li a {
	color: #707070 !important;
	font-weight: 600 !important;
	font-family: 'SegoeUI' !important;
	font-size: 1rem !important
}

/* Carrossel */

.atendimento-depoimentos{
	background-color: #FFF8F9;
	padding:50px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	height:100%;
  }

.homeCarrossel {
	height: 500px !important;
	margin-top: 120px !important
}
.empresaCarrossel {
	height: 450px !important;
	margin-top: 0px !important;
	/* padding-bottom: 80px !important */

}
.empresaCarrossel .awssld__content {
	background: #f7f7f7 !important;

}

.empresaCarrossel .awssld__bullets {
	bottom: 70px !important;
	z-index: 9999 !important;
}

.empresaCarrossel .awssld__bullets button:not(.awssld__bullets--active) {
	background: #FFF !important;
	border: 1px solid rgb(0,73,183) !important
}

.empresaCarrossel .awssld__bullets--active {
	background: rgb(0,73,183) !important;
	background: linear-gradient(20deg, rgba(0,73,183,1) 35%, rgba(0,153,255,1) 100%) !important;
}
.slider_1 {
	background: url(../assets/images/slide_1.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
}

.slider_1 div, .slider_2 div, .slider_3 div {
	padding-left: 15% !important
}
.slider_2 {
	background: url(../assets/images/slide_1.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
}
.slider_3 {
	background: url(../assets/images/slide_1.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
}

.slider_1 div h2, .slider_2 div h2, .slider_3 div h2 {
	font-family: 'SegoeUI' !important;
	color: #FFF !important ;
	font-weight: 700 !important;
	font-size: 3rem !important
}

.slider_1 div .btn-saiba-mais, .slider_2 div .btn-saiba-mais, .slider_3 div .btn-saiba-mais, .btn-enviar {
	margin-top: 40px !important;
	/* width: 20%; */
	height: 50px !important;
	background: rgb(0,73,183);
	background: linear-gradient(90deg, rgba(0,73,183,1) 35%, rgba(0,153,255,1) 100%) !important;
	font-family: 'Roboto', sans-serif !important;
	color: #FFF !important ;
	font-weight: 700 !important;
	font-size: 1rem !important;
}

.homeCarrossel .awssld__bullets {
	bottom: 10px !important
}


.homeCarrossel .awssld__bullets button:not(.awssld__bullets--active) {
	background: #FFF !important;
}

.homeCarrossel .awssld__bullets--active {
	background: rgb(0,73,183) !important;
	background: linear-gradient(20deg, rgba(0,73,183,1) 35%, rgba(0,153,255,1) 100%) !important;
}

.parallax {
	background: url(../assets/images/servicos.png) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.parallaxEmpresa {
	background: url(../assets/images/background-empresa.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.parallaxContato {
	background: url(../assets/images/background-contato.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.parallaxPortas {
	background: url(../assets/images/background-portas.jpg) !important;
	background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.btn-saiba-mais-portas {
	margin-top: 40px !important;
	width: 100%;
	height: 50px !important;
	background: rgb(0,73,183);
	background: linear-gradient(90deg, rgba(0,73,183,1) 35%, rgba(0,153,255,1) 100%) !important;
	font-family: 'Roboto', sans-serif !important;
	color: #FFF !important ;
	font-weight: 700 !important;
	font-size: 1rem !important;
}

.rs-nav-horizontal ul .rs-nav-item-active a {
	color: #1675e0 !important;
}

.rs-nav-horizontal ul li a {
	font-size: 1rem !important;
	font-family: 'SegoeUI' !important;
}

.rs-nav-horizontal ul li:hover a {
	color: rgba(0,73,183,1) !important;
	text-decoration: dotted !important;
}
